.otp-input {
  letter-spacing: 0.5em;
  padding-right: 50px;
}

.otp-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--link-color);
}
