.nominee-details-panel {
  font-family: 'Arial, sans-serif';
  font-size: 14px;
  margin: 20px;
}

.nominee-details-panel__title {
  font-weight: bold;
}

.nominee-details-panel__plain-text {
  margin-bottom: 20px;
}

.nominee-details-panel__radio-group {
  margin-bottom: 20px;
}

.nominee-details-panel__sub-panel {
  background-color: #F5F8FF;
  border: 1px solid #0052CC;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.nominee-details-panel__checkbox {
  margin-bottom: 20px;
}

.nominee-details-panel__edit-button {
  color: #0052CC;
  text-align: right;
}

.nominee-details-panel__add-button {
  color: #0052CC;
  text-decoration: underline;
  cursor: pointer;
}