.credit-card-info-component-wrapper {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 16px;
}
.credit-card-info-component-wrapper img {
  border-radius: 8px;
  width: 100%;
}
.credit-card-info-component-wrapper .title {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0;
}
.credit-card-info-component-wrapper .description {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 8px 0;
}
.credit-card-info-component-wrapper .separator {
  border-top: 1px solid #e0e0e0;
  margin: 8px 0;
}
.credit-card-info-component-wrapper .link {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: blue;
  text-decoration: underline;
  margin: 8px 0;
}