.credit-card-info-component-wrapper {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.credit-card-info-component-wrapper img {
  display: block;
  margin: 20px auto;
}
.credit-card-info-component-wrapper .card-fees-title {
  font-weight: bold;
  margin-top: 10px;
}
.credit-card-info-component-wrapper .card-fees-details {
  margin-top: 5px;
}
.credit-card-info-component-wrapper .link {
  color: blue;
  margin-top: 20px;
  display: block;
}
@media (max-width: 600px) {
  .credit-card-info-component-wrapper {
    padding: 10px;
    margin: 10px;
  }
}