main .form .nps-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

main .form .nps-rating .label {
  font-size: 14px;
  margin: 0 10px;
}

main .form .nps-rating .scale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

main .form .nps-rating .scale .number {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

main .form .nps-rating .scale .number.selected {
  background-color: green;
  color: white;
}

main .form .nps-rating .scale .bar {
  height: 5px;
  width: 100%;
  background-color: lightgray;
  margin-top: 10px;
  transition: background-color 0.3s;
}

main .form .nps-rating .scale.low .bar {
  background-color: red;
}

main .form .nps-rating .scale.medium .bar {
  background-color: orange;
}

main .form .nps-rating .scale.high .bar {
  background-color: green;
}