main .form .nps-rating {
  display: flex;
  gap: 5px;
  margin: 0;
}

main .form .nps-rating .number {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

main .form .nps-rating .number.selected {
  background-color: green;
  color: white;
}

main .form .nps-rating .number.red {
  background-color: red;
}

main .form .nps-rating .number.orange {
  background-color: orange;
}

main .form .nps-rating .number.green {
  background-color: green;
  color: white;
}
